/*GERAL*/
	
body{font-family: 'PT Sans', sans-serif; margin: 0 ; font-size: 16px;background-color: black; color: white;}
.flex-container{display: flex;}
.space-between{justify-content: space-between;}
.align-items{align-items: center;}
*{box-sizing:border-box;}
h1, h2, h3, h4, figure,p{margin:0;}
a{text-decoration: none; color: inherit;}
section{padding-left: 20px; padding-right: 20px;}
img {width: 100%;}
.text-align{text-align:justify;}


.container{width:100%; max-width:1100px; margin: 0 auto;}
.row{margin:0 -5px; display: flex; flex-wrap: wrap;}

/*COLUNAS*/

.col{padding:0 15px;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*BARRA INICIAL - INICIO*/

.topo{width:100%;
  padding:40px ;
  font-weight:bold;
  background-color:#000;
  color: white;
  border-bottom:solid 2px;
  transition:0.4s;
  transition-timing-function:ease-in-out;
position: relative;}


.topo h2{ font-size:20px; transition: 0.2s; transition-timing-function: ease-in-out;}
.topo h2:hover{color: black;}
.topo figure{width: 50px;}
.topo img{width: 100%;}
.topo a{ margin-left:25px;
     font-size:21px;
     transition:0.2s;
     transition-timing-function:ease-in-out;}
.topo a:hover{color:black}
.topo:hover{text-decoration:underline;
          font-size:20px; color: black;background-color:#fff;}

.topo .blacklogo{position: absolute; display: none; transition: 0.2s; transition-timing-function: ease-in-out;}
.topo:hover .blacklogo{display: block;}
.mobible-menu{display:none;}
.mobible-menu img{width:30px;}

/*BARRA INICIAL - FIM*/


/*HOME PAGE*/
.headline{
  position: relative;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.title{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0px 50px;
}

.title-item{
  margin-left: 410px;
  margin-top: 200px;
}

.title h2{
  font-size: 6em;
  line-height: 1.2em;
  padding-bottom: 250px;
  margin-left: 10px;
}

.title a{
  display: inline-block;
  margin-left: 160px;
  transition: 0.3s;
}

.title a:hover{
  opacity: 0.7;
}

.bg-image img{
  width: 130%;
}


.conteudo{padding-left:50px;
  padding-right:50px;
  color:#fff;
flex-direction: column;}

.conteudo h2{ text-align:center;
font-size:30px;
margin-top: 100px;;
margin-bottom: 4vh;}

.conteudo p{
font-size: 15px;
line-height: 15px;
margin-top: 2vh;
padding-right: 9vh;
padding-left: 9vh;
line-height:19px;}

.expos{padding-bottom: 900px; padding-top: 50px; position: relative;}
.expotitle{padding-top: 50px;}

/* flip expo1 */

.flip-box {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

/* flip expo 2 */
.flip-box2 {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}

.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

.flip-box-front2, .flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front2 {
  background-color: #bbb;
  color: black;
}

.flip-box-back2 {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

/* MOBILE */


@media all and (max-width:480px){

  .scol-1 {width: 8.33%;}
  .scol-2 {width: 16.66%;}
  .scol-3 {width: 25%;}
  .scol-4 {width: 33.33%;}
  .scol-5 {width: 41.66%;}
  .scol-6 {width: 50%;}
  .scol-7 {width: 58.33%;}
  .scol-8 {width: 66.66%;}
  .scol-9 {width: 75%;}
  .scol-10 {width: 83.33%;}
  .scol-11 {width: 91.66%;}
  .scol-12 {width: 100%;}

.title-item{margin-top: 0px;}
.title h2{padding-bottom: 0px;}
.title{position:relative; display: flex;}
.title{flex-direction: column;}
.headline{height: 0vh;}

}




/*EXPO 1*/
.colorphoto figure{margin: 0 ; padding: 0; -webkit-filter: none; -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out}
.colorphoto figure:hover{-webkit-filter: invert(100);}
.colorphoto{padding-top: 50px;}

.andre{padding: 50px 0px;}

/*EXPO 2*/
.expo2{background-color: black;}

/*UM UMA ANIM*/
.UMA-UM{padding: 50px;}
.UMA-UM h1{font-size: 12em; line-height: 1em;}
.UMA-UM p{line-height: 1.5em; word-spacing: 12px; font-size: 2em;}
.UMA h1{text-align: right;}
.UM p{transform: scale(0.94); animation: scale 10s}
.UMA p{text-align: right; transform: scale(0.94);
    animation: scale 10s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(19) {
    animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(20) {
    animation: fade-in 0.8s 4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

/* SARA E ANDRE */

.SARAEANDRE{padding: 50px;flex-direction: column;}
.SARAEANDRE figure{position: relative; opacity: 30%; z-index: 1;}
.texto{position: absolute; text-align: right; top: 155vh; right:70px; z-index: 2; color: white; line-height: 1.5em;display: block;}
.texto h1 {line-height: 2em;}
.texto h2{line-height: 2em;}

/* FOTOS */
.fotos2{margin-left: 300px;}
.img1{position: relative;}
.img2{position: absolute; right: 130px; z-index: 2; transition: transform .2s;}
.img3{position: absolute; left: 130px; z-index: 2; transition: transform .2s; }
.img4{position: relative;}


.img2:hover{transform: scale(1.5);}
.img3:hover{transform: scale(1.5);}


/* MOBILE */
@media all and (max-width:480px){

  .scol-1 {width: 8.33%;}
  .scol-2 {width: 16.66%;}
  .scol-3 {width: 25%;}
  .scol-4 {width: 33.33%;}
  .scol-5 {width: 41.66%;}
  .scol-6 {width: 50%;}
  .scol-7 {width: 58.33%;}
  .scol-8 {width: 66.66%;}
  .scol-9 {width: 75%;}
  .scol-10 {width: 83.33%;}
  .scol-11 {width: 91.66%;}
  .scol-12 {width: 100%;}


  .img2{position: relative; left: 0}
  .img3{position: relative;}
}

@media all and (max-width:480px){

  .scol-1 {width: 8.33%;}
  .scol-2 {width: 16.66%;}
  .scol-3 {width: 25%;}
  .scol-4 {width: 33.33%;}
  .scol-5 {width: 41.66%;}
  .scol-6 {width: 50%;}
  .scol-7 {width: 58.33%;}
  .scol-8 {width: 66.66%;}
  .scol-9 {width: 75%;}
  .scol-10 {width: 83.33%;}
  .scol-11 {width: 91.66%;}
  .scol-12 {width: 100%;}
  
  .img2{position: relative; z-index: 1;}
  .img3{position: relative;z-index: 1;}
  .texto{position: relative;}
  .UMA-UM{padding: 5px; flex-direction: column; margin-top: 30px;}
  .UMA-UM h1{font-size: 4em;}
  .UMA-UM p{font-size: 14px;}
  .UMA{margin-top: 10px;}
  .SARAEANDRE{padding:30px; flex-direction: column; margin-top: 60px;}
  .texto{position: relative; right: 0; top: 0;}
  .fotos{flex-direction: column; margin-top: 30px;}
  .fotos2{flex-direction: column;margin-left: 0px; margin-top: 30px;}
  .img2{position: relative; right: 0px; margin: 30px 0px 30px 0px;}
  .img3{position: relative; left: 0px; margin: 0px 0px 30px 0px;}
}
/*RESIDENCIAS*/

/*HEADER*/
.top-site{  position: absolute; top:0; left:0;z-index:1; max-width: 100%; padding:40px 20px;}
.logo{width: 20%;}
.logo img{width: 100%;}
.menu a{margin-left:30px;}
.mobile-menu{display: none;}
.mobile-menu img{width: 30px;}

/*CIRCLE*/
.circle{display: block; padding-bottom: 800px; padding-top: 80px;}

.circulo1{left: 240px;   
   position: absolute;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;}
.circulo2{left: 410px; top: 370px;
  position: absolute;
  animation-name: spin2;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}
.circulo3{left: 530px; top: 470px;
   position: absolute;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
.circulo4{left: 590px; top: 520px; position: absolute;
  animation-name: spin2;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

@keyframes spin2 {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}

/*JENA*/
.JENA {padding-top: 80px; padding-bottom: 50px; position: relative;z-index: 2; flex-direction: column; }
.JENA-JANG{padding: 80px; display: inline-block; position: relative;}
.JENA-JANG h2{font-size: 4em; line-height: 1em;}
.JENA-JANG p{line-height: 1.5em;}


/*HEATHER*/ 
.HL video { -webkit-filter: grayscale(100%); filter: grayscale(100%);}

.HEATHER{flex-direction: column; padding-top: 100px;}
.LYON{padding-top: 150px;}
.LYON h2{font-size: 4em;}
.LYON p {line-height: 1.5em;}
.frase{padding: 80px 0px}
.frase h1{font-size: 2em;}
.frase h3{font-size: 20px;}

.heatherlyon figure {-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;}

.heatherlyon figure:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*MOBILE*/
@media all and (max-width:768px){

    .mcol-1 {width: 8.33%;}
    .mcol-2 {width: 16.66%;}
    .mcol-3 {width: 25%;}
    .mcol-4 {width: 33.33%;}
    .mcol-5 {width: 41.66%;}
    .mcol-6 {width: 50%;}
    .mcol-7 {width: 58.33%;}
    .mcol-8 {width: 66.66%;}
    .mcol-9 {width: 75%;}
    .mcol-10 {width: 83.33%;}
    .mcol-11 {width: 91.66%;}
    .mcol-12 {width: 100%;}

  .LYON p{margin-bottom: 20px;}
  .circulo1{left: 180px;}
  .circulo2{left: 225px; top: 240px;}
  .circulo3{left: 290px;top: 290px;}
  .circulo4{left: 325px; top: 320px;}
  .circle{padding-bottom: 350px;}
  .JENA-JANG{padding:20px; padding-top: 80px;}
}

@media all and (max-width:480px){

    .scol-1 {width: 8.33%;}
    .scol-2 {width: 16.66%;}
    .scol-3 {width: 25%;}
    .scol-4 {width: 33.33%;}
    .scol-5 {width: 41.66%;}
    .scol-6 {width: 50%;}
    .scol-7 {width: 58.33%;}
    .scol-8 {width: 66.66%;}
    .scol-9 {width: 75%;}
    .scol-10 {width: 83.33%;}
    .scol-11 {width: 91.66%;}
    .scol-12 {width: 100%;}

    .menu{display: none;}
    .mobile-menu{display: block;}
    .LYON p{margin-bottom: 20px;}

    .circulo1{left: 130px;}
   .circulo2{left: 180px; top: 180px;}
   .circulo3{left: 210px;top: 210px;}
   .circulo4{left: 230px; top: 225px;}
   .circle{padding-bottom: 130px;}
   .JENA-JANG{padding:20px; padding-top: 80px;}
  }


/*EVENTOS PARALELOS*/

/*MOTHS - INICIO*/

.introMoths{ 
     color:#FFF;
         margin-top:80px;}

.titulo {position:absolute; z-index: 2;   
   background-color:rgba(8,5,7,0.8);
    text-shadow: 2px 2px 5px grey;
               margin-bottom: 5px;
              line-height: 2em;
            padding: 200px;}

.titulo h2{font-size: 2.5em; padding-bottom: 10px;}

.titulo:hover{text-shadow: 5px 5px 20px grey;
         transition:0.3s; 
         transition-timing-function:ease-in-out;}

.videoback{margin-left: 50px; position: relative;}
.videoback video{position: relative; z-index: 1;}


.paragrafo2{margin-top:35px;}
.paragrafo3 span,.textos span,.botaob span{transition:0.1s;}
.paragrafo3 span:hover, .textos span:hover, 
.botaob span:hover{text-decoration:underline;
               font-weight:bold;
               transition-timing-function:ease-in-out;} 

.videolado {width:100%;}   
.videolado video{width:100%; 
        margin-top:5px;}
.paragrafo3{margin-top:10px;}
.ladoalado1{margin-top:85px; }
.ladoalado1 h2{font-size:30px;
           width:170px; }
.ladoalado2{margin-top:60px;}

.botao{ padding:10px;
             font-size:16px;
             border:solid 2px;
             text-align:center;
             border-radius:3px;
             margin-top:25px;
             margin-bottom:10px;
             align-items:center;}  
    
.botao:hover{background-color:#fff; 
         color:#000; 
         border:solid 3px #fff;
         transition:0.4s;
         transition-timing-function:ease-in-out;}

.ladoalado1 img {border:solid 10px #000;
             opacity:0.7;}

.ladoalado1 img:hover{ border:none;
                   opacity:1;
                   transition:0.4s;
                   transition-timing-function:ease-in-out;}


.ladoalado2 img,.gflex1 img, .golfo2 img{opacity:0.7;
                                     border:solid 10px #000;}

.ladoalado2 img:hover, .golfo2 img:hover, 
.gflex1 img:hover{transition:0.2s;
              opacity:1;
              border:none;
              transition-duration: 0.4s;
              transition-timing-function:ease-in-out;}
/*MOTHS - FIM*/


/*GOLFO - INICIO*/

.golfo{margin-top:150px;}

.titulos h2,h3{font-size:45px;
           text-align:center;
           text-shadow: 2px 2px 5px grey;}

.titulos h2:hover, h3:hover{text-shadow: 4px 4px 20px grey;
                        transition:0.2s; 
                        transition-timing-function:ease-in-out;}

.titulos h3{font-size:37px;
        margin-bottom:50px;}

.p4{margin-top:15px;}

.golfovideo video{width:100%;}

.botaob p{text-align:center;
      border:solid 3px #fff;
      border-radius:3px;
      padding-top:20px;
      padding-bottom:20px;
      margin-top:40px; 
      margin-bottom:100px;}
.botaob{align-items:center;}

.botaob:hover{font-weight:bold; 
          transition-timing-function:ease-in-out;
          background-color:#fff; 
          color:#000;
          border-radius:3px;
          transition-duration:0.4s;}

/*GOLFO - FIM*/

/*ADAPATA��ES - INICIO*/

@media all and (max-width:768px){
.mcol-1 {width: 8.33%;}
.mcol-2 {width: 16.66%;}
.mcol-3 {width: 25%;}
.mcol-4 {width: 33.33%;}
.mcol-5 {width: 41.66%;}
.mcol-6 {width: 50%;}
.mcol-7 {width: 58.33%;}
.mcol-8 {width: 66.66%;}
.mcol-9 {width: 75%;}
.mcol-10 {width: 83.33%;}
.mcol-11 {width: 91.66%;}
.mcol-12 {width: 100%;}

body{font-size:15px;}
.container{margin-left:5px;}
.introMoths{margin-top:80px; }
.topo h2{ font-size:16px;}
.menu a{ margin-left:5px;font-size:16px;margin-right:20px;}
.menu a:hover{text-decoration:underline;font-size:15px;}
.menu{width:100%; margin-left:60px;}
.topo{padding:30px;}
.logo img{width:20px; margin-left:15px;} 
.ladoalado1 h2{font-size:25px;}
.videolado{ margin-left:105px; width:500px;}
.videolado video{margin-top:50px;}
.ladoalado1{margin-top:50px;}
.botao{ padding:8px;margin-top:20px;margin-bottom:15px;}      
.redes{margin:20px;}
.redes img{ width:30px;}
.redes img:hover{width:35px;} 
.paragrafo2{margin-top:30px;}

}


@media all and (max-width:480px){
.scol-1 {width: 8.33%;}
.scol-2 {width: 16.66%;}
.scol-3 {width: 25%;}
.scol-4 {width: 33.33%;}
.scol-5 {width: 41.66%;}
.scol-6 {width: 50%;}
.scol-7 {width: 58.33%;}
.scol-8 {width: 66.66%;}
.scol-9 {width: 75%;}
.scol-10 {width: 83.33%;}
.scol-11 {width: 91.66%;}
.scol-12 {width: 100%;}
 

 body{font-size:14px;}
.topo h2{ font-size:15px;}
.titulo{position: relative; background-color: none; padding: 0px;}
.videoback{margin: 0;}
.introMoths{margin-top:65px;}
.menu{display:none;}
.mobile-menu{display: flex; flex-direction: row;}
.topo{padding:25px;}
.videoback video{height:350px;}
.videolado{ margin-left:0px; width:450px; }
.ladoalado1 img {margin-top:50px;}
.videolado video{margin-top:25px;}
.botao{ margin-bottom:60px;} 
.ladoalado2{margin-top:5px;}
.titulos h2{font-size:32px;}
.titulos h3{font-size:24px;margin-bottom:45px;}
.p3{margin-top:20px;}
.p4{margin-bottom:30px;}
.botaob p{margin-top:30px;margin-bottom:100px;}
.redes{margin:50px;}
.logo img{display: none;}
}


/*FOOTER - INICIO*/

.redes{ text-align:center;
    margin:30px;}


.redes img{ width:40px;
        margin-left:10px;
        transition:0.2s;
        transition-timing-function:ease-in-out;}
.redes img:hover{width:44px;} 

.info{margin-top:80px;
  align-items:center;
  border-top: solid 2px; 
  padding-top:10px;}

.info p{margin-top:5px; 
   text-align:center; }


/*FOOTER - FIM*/